body {
    background-color: #201F1F;
  }

header{
    position: fixed;
    z-index: 5;
    width: 100vw;
}
nav {
    display: flex;
    flex-direction: row;
    background-color: #000000;
    text-align: center;
    margin: 0;
    justify-content: center;
    font-family: fantasy;
}

.logo{
    margin-right: 35px;
    height: 50px;
    width: 235px;
}

.navbar{
    border-bottom: #000000 solid 2px;
    background-color: #c41111;
    align-items: center;
}

.navbar a{
    color: black;
    font-family: fantasy;
    font-size: 30px;
}

.navbar li{
    margin-left: 15px;
}

.policia{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 150px;
    margin: 10px;
}

.policia p{
    grid-column: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #d1d0d0;
    margin-left: 35px;
    font-size: 25px;
    text-align: justify;
    margin-top: 15px;
}

@keyframes img-animation {
    5% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-15px);
    }
  
    100% {
      transform: translateY(0);
    }
}

.img-animation {
    animation: img-animation 4s infinite;
}

.pole {
    grid-column: 2;
    height: 220px;
    width: 220px;
    margin-left: 100px;
     
}

.slash{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

#slas{
    grid-column: 1;
    height: 400px;
    width: 650px;
    margin-left: 45px;;
    padding-bottom: 15px;
}

.slash p{
    grid-column: 2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #d1d0d0;
    font-size: 23px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 20px;
}

#sl{
    height: 400px;
    width: 450px;
}

.sobrena{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

#sobre{
    grid-column: 1;
    height: 400px;
    width: 650px;
    margin-left: 45px;;
    padding-bottom: 15px;
}

.sobrena p{
    grid-column: 2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #d1d0d0;
    font-size: 23px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 20px;
}

#sb{
    height: 400px;
    width: 450px;
}

.psicol{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

#psic{
    grid-column: 1;
    height: 400px;
    width: 650px;
    margin-left: 45px;;
    padding-bottom: 15px;
}

.psicol p{
    grid-column: 2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #d1d0d0;;
    font-size: 23px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 20px; 
}

#ps{
    height: 400px;
    width: 450px;
}

hr{
    color: #fff;
    height: 20px;
}

h1{
    color: #fff;
    margin-left: 75PX;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    padding-bottom: 30px;
    margin-top: 20px;
    font-size: 60px;
}

form{
    max-width: 90%;
    margin: 0 auto;
}

legend{
    color: #d1d0d0;
    font-size: 30px;
    font-family: fantasy;
}

label{
    color: #c41111;
    font-family: fantasy;
    padding-top: 10px;
    margin-left: 2px;
    font-size: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    height: 50px;
    background-color:#d1d0d0;
    border-radius: 5px;
    border: 1px solid black;
}

button[type="submit"] {
    width: 150px;
    height: 50px;
    background-color: #c41111;
    border-radius: 5px;
    border: 1px solid black;
  }



footer{
    grid-area: footer;
    font-family: fantasy;
    background-color: #c41111;
    padding-top: 5px;
    margin-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: 3px;
    border-color: black;
    width: 100%;
}

footer p:first-letter {font-size: 120%} 

footer a{
    font-size: 20px;
    text-align: center;
    color: rgb(10, 10, 10);
    font-weight: 500;
    text-decoration: none;
}


@media (max-width: 1100px){

        .policia{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0;
            }
        .policia p{
            margin: 20px;
            margin-bottom: 0px;
            margin-top: 0px;

            }
            h1{
               margin-left: 20px;
               font-size: 50px;
            }
        .pole{
            margin: 20vw;
            margin-bottom: 0px;
            margin-top: 0px;

            }
        .slash{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
        }
        #slas{
            margin: 20px;
            margin-bottom: 0px;
            margin-top: 0px;
        }
        .sobrena{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
        }
        #sobre{
            margin: 20px;
            margin-bottom: 0px;
            margin-top: 0px;
        }
        .psicol{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
        }
        #psic{
            margin: 20px;
            margin-bottom: 0px;
            margin-top: 0px;
        }

        
}
